## https://github.com/craff
Christophe Raffalli <christophe@raffalli.eu>         craff <christophe@raffalli.eu>
Christophe Raffalli <christophe@raffalli.eu>         raffalli <raffalli@univ-savoie.fr>
Christophe Raffalli <christophe@raffalli.eu>         christophe.raffalli <christophe.raffalli@univ-savoie.fr>
Christophe Raffalli <christophe@raffalli.eu>         craff <christophe@raffalli.eu>
Christophe Raffalli <christophe@raffalli.eu>         craff <raffalli@univ-savoie.fr>
Christophe Raffalli <christophe@raffalli.eu>         Christophe Raffalli <raffalli@univ-savoie.fr>
Christophe Raffalli <christophe@raffalli.eu>         Christophe Raffalli <christophe@raffalli.eu>

## https://github.com/rlepigre
Rodolphe Lepigre <lepigre@mpi-sws.org>               Rodolphe Lepigre <rodolphe.lepigre@inria.fr>
Rodolphe Lepigre <lepigre@mpi-sws.org>               rodolphe.lepigre <rodolphe.lepigre@univ-savoie.fr>
Rodolphe Lepigre <lepigre@mpi-sws.org>               Rodolphe Lepigre <rodolphe.lepigre@univ-savoie.fr>

## https://github.com/adelaett
Alain <alain@inria.fr>                               alain <90894311+adelaett@users.noreply.github.com>
