language: c
env:
  - OCAML_VERSION=3.12.1
  - OCAML_VERSION=4.00.0
  - OCAML_VERSION=4.00.1
  - OCAML_VERSION=4.01.0
  - OCAML_VERSION=4.02.0
  - OCAML_VERSION=4.02.1
  - OCAML_VERSION=4.02.2
  - OCAML_VERSION=4.02.3
  - OCAML_VERSION=4.03.0
  - OCAML_VERSION=4.04.0
  - OCAML_VERSION=4.04.1
  - OCAML_VERSION=4.04.2
  - OCAML_VERSION=4.05.0
  - OCAML_VERSION=4.06.0
  - OCAML_VERSION=4.06.1
  - OCAML_VERSION=4.07.0+trunk
addons:
  apt:
    sources:
      - avsm
    packages:
      - opam
      - time
cache:
  directories:
    - $HOME/.opam
before_install:
  - export OPAMYES=1
  - export OPAMVERBOSE=1
  - opam init
  - opam switch ${OCAML_VERSION}
  - eval `opam config env`
  - opam install ocamlbuild ocamlfind
  - make
install:
  - make install
script:
  - make examples
  - make tests
  - echo "All good."
os:
  - linux
notifications:
  email:
    - christophe@raffalli.eu
    - rodolphe.lepigre@inria.fr
